<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                           
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34151480?query=java">Java Developer / Java разработчик</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО Динамика</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34400201?query=java">Full-stack Java-разработчик</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">IBS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34242379?query=java">Программист Java Middle</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО БизнесКомпьютер</td> 
     <td class="salary">от 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34151307?query=java">Программист-разработчик ЦФТ-Банк</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО Динамика</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34205344?query=java">Программист Java</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">АО Уфанет</td> 
     <td class="salary">35 000-60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/31062093?query=java">Инженер-программист/ Junior Java Developer</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">АО Нефтеавтоматика</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/33418531?query=java">Старший Java-разработчик</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО АйДи – Технологии управления</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/32989566?query=java">Senior Android - разработчик</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">МодульБанк</td> 
     <td class="salary">от 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34372670?query=java">Разработчик автотестов</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ОАО ИнфоТеКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34001592?query=java">Менеджер по подбору персонала (Рекрутер)</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">IBS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34408540?query=java">Инженер по разработке ПО 1 категории</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">Группа Компаний ОЗНА</td> 
     <td class="salary">от 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/33032099?query=java">Senior Разработчик ЦФТ-Банк (IBSO)</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">МодульБанк</td> 
     <td class="salary">от 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/33941676?query=java">Программист JS</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО Тензор</td> 
     <td class="salary">75 000-120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34250594?query=java">Java-разработчик</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">СимбирСофт,ООО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34149710?query=java">Разработчик АБС ЦФТ</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">РЕГИОН, Группа Компаний</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34260742?query=java">Android Framework Developer (Point-Of-Sale, Telephony)</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">MERA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34331523?query=java">Тестировщик (автоматизированное тестирование)</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО РСХБ-Интех</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/33749412?query=java">Разработчик автотестов</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ОАО ИнфоТеКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/33268452?query=java">Инженер-программист 2 категории группы разработки и внедрения ПО</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО Системы Нефть и Газ</td> 
     <td class="salary">до 39 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/32519086?query=java">Специалист по машинному обучению (Data scientist)</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО РН-БашНИПИнефть</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/33116205?query=java">Инженер-программист 2 категории группы АСУТП</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО Системы Нефть и Газ</td> 
     <td class="salary">до 39 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/33853962?query=java">Разработчик Java</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">Bell Integrator</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34253261?query=java">Backend Lead разработчик</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО Глобал Майндс Рус</td> 
     <td class="salary">от 5 500 EUR</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34225729?query=java">Middle+ Fullstack разработчик Spring boot/Vue.js</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО Безопасная Сделка</td> 
     <td class="salary">100 000-200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/33762780?query=java">Senior Android Developer</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО Тензор</td> 
     <td class="salary">200 000-290 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34187647?query=java">Разработчик SQL</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">Diasoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34195277?query=java">Разработчик PostgreSQL</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">IBS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34188365?query=java">Программист 1С</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО Микрокредитная компания «АТФ 24»</td> 
     <td class="salary">от 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34159646?query=java">Java-разработчик</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34134851?query=java">Разработчик</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">АльфаСтрахование-ОМС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/34082529?query=java">Android/IO (Flutter / Dart) Developer (Уфа)</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО Тагес Джамп</td> 
     <td class="salary">до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/33602718?query=java">Middle Python back-end / Golang / Fullstack Developer (Уфа)</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ООО Тагес Джамп</td> 
     <td class="salary">до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/33968997?query=java">Senior Backend-разработчик (Java) Fintech</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">Roklen Holding, a.s.</td> 
     <td class="salary">110 000-170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://ufa.hh.ru/vacancy/33946223?query=java">Python-разработчик</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">SMENA</td> 
     <td class="salary">20 000-70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054474">Middle+ Fullstack разработчик Spring boot/Vue.js</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">zaptap.ru</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054237">Flutter / Dart Developer (Уфа)</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ТagesJump</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052081">Back-end / Python / Golang / Js (node.js) / Fullstack Программист Разработчик</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ТagesJump</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052080">PHP разработчик/программист Fullstack</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ТagesJump</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052890">Frontend Developer (Уфа)</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ТagesJump</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054474">Middle+ Fullstack разработчик Spring boot/Vue.js</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">zaptap.ru</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000054237">Flutter / Dart Developer (Уфа)</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ТagesJump</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052081">Back-end / Python / Golang / Js (node.js) / Fullstack Программист Разработчик</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ТagesJump</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052080">PHP разработчик/программист Fullstack</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ТagesJump</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000052890">Frontend Developer (Уфа)</a></td> 
     <td class="city">Уфа</td> 
     <td class="companyName">ТagesJump</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>